$background-color: whitesmoke;
$accent-color: #4682B4;
$text-color: #333;
$highlight-color: #4682B4;
$border-color: #ddd;

   
.stat-navbar{
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 1.5rem;
  position: sticky;
  align-items: center;
  top: 0px;
  z-index: 10;
  background-color: #4682B4;
  border-bottom:1px solid #ddd ;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 3.5rem;
  box-sizing: border-box;

  .navbar-btn{
    max-height: 2.5rem;
    min-height: 2.5rem;
    background-color: #4682B4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    color: white;
    border-radius: 0.2rem;
    font-size: 0.92rem;
    box-sizing: border-box;
    text-transform: capitalize;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .navbar-btn:hover{
    cursor: pointer;
    background-color: #e5e9f0;
    transition-duration: 0.2s;
    color: #555;
  }

  select{
    max-height: 2.5rem!important;
    min-height: 2.5rem!important;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 2rem; /* give space for the chevron */
    appearance: none;
    box-sizing: border-box;
    width: 6.5rem!important;
    background-color: #e5e9f0!important;
    color: #555!important;
    border: none;
    text-decoration: none!important;
    margin-right: auto;
  }

}

.statistics-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    animation: fadeSlideIn 0.6s forwards;


    h3{
      margin: 0px;
      padding: 0px;
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      font-size: 0.8rem;
      z-index: 20;
      color: #4682B4;
      width: 100%;
      font-size: 1.2rem;
      padding-left: 1rem;
      border-radius: 0.1rem;
      max-height: 4rem;
      min-height: 4rem;
      border-bottom: 1px solid #ddd;

      i{
        display: none;
      }

    }

    .stat-block {
        border-bottom: 1px solid $border-color;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        transition: transform 0.2s ease;
        animation: fadeSlideIn 0.6s forwards;
        justify-content: space-between;
        min-height: 6.2rem;
        max-height: 6.2rem;
        box-sizing: border-box;
        font-size: 1.1rem!important;
        font-weight: 300!important;
        column-gap: 1.5rem;

        h4 {
            margin: 0px;
            padding: 0px;
            color: $accent-color;
            margin: 0;
            text-transform: capitalize;
            width: 10%;
            color: #555;
            font-weight: 300;
        }

        .stat-data {
            display: flex;
            column-gap: 1rem;
            align-items: center;
            width: 90%;
            justify-content: flex-end;
            font-size: 1rem!important;
       
            p {
              margin: 0;
              padding: 0.75rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #555;
              font-weight: 300;
              border-radius: 0.3rem;
              font-size: 1rem!important;

          
              strong {
                margin: 0;
                padding: 0;
                color: $accent-color;
                font-weight: 600;
                margin-right: 0.2rem;
                color: #4682B4!important;
                text-transform: capitalize;
                text-decoration: underline;
                font-size: 1rem!important;
                font-weight: 300!important;

              }
          
              span {
                margin: 0px;
                padding: 0px;
                display: inline-block;
                text-align: center;
                border-radius: 2rem;
                font-weight: 500!important;
                color: #555!important;
                font-weight: 300;
                margin-left: 0.7rem;
                font-size: 1rem!important;

              }
            }
          
            .popular-cars {
              color: #555;
              border-radius: 0.3rem;
              padding: 0.75rem;
              font-size: 1rem!important;
              font-weight: 300;
              display: flex;
              align-items: center;
              column-gap: 1rem;

            
              h5 {
                margin: 0;
                padding: 0;
                color: $accent-color;
                font-weight: 600;
                margin-right: 0.2rem;
                color: #4682B4!important;
                text-transform: capitalize;
                text-decoration: underline;
                font-size: 1rem!important;
                font-weight: 300!important;
              }
            
              div {
                display: flex;
                row-gap: 0.5rem;
              }
            
              p {
                margin: 0;
                padding-right: 0.5rem;
                font-size: 1rem!important;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 0.25rem;
            
                strong {
                  color: darken($accent-color, 10%);
                  margin-right: 0.5rem;
                  font-weight: 300;
                }
            
                span {
                  display: inline-block;
                  text-align: right;
                  font-weight: 500;
                }
              }
            }
            
        }
    }

}
