<div class="customer-main-wrapper">

    <div class="customer-form-left-wrapper">

       <div class="business-form-generalinfo">
            <h4>
                Diabus Automotive
            </h4>

            <button class="customer-contact-btn">
                <i class="bi bi-telephone"></i>
                <div class="company-data-wrapper">
                    <p class="company-data">060 19 90 36</p>
                </div>
               
            </button>
            <button class="customer-contact-btn">
                <i class="bi bi-envelope"></i>
                <div class="company-data-wrapper">
                    <p class="company-data">Diabus<br>@@offersuite.com</p>
                </div>
            </button>
       </div>

    </div>

    <div class="customer-form-wrapper">
        <div class="home-wrapper">

            <h4>
                Diabus Automotive AB
            </h4>

            <div class="home-image">
                <div class="home-image-banner-divone">
                    <h3>
                        Diabus Automotive AB
                    </h3>
                    <p>
                        Local Trust. Global Standards.
                    </p>
                </div>
              
            </div>

            <div class="home-business-aboutus">
                <h3>
                    Driven by Passion, Defined by Service.
                </h3>
                <p>
                    At <b>Diabus Automotive AB</b>, we believe that owning and maintaining a vehicle should be an experience defined by excitement, absolute reliability, and genuine peace of mind. <br>
                    For us, it's more than just cars; it's about the journey, the freedom, and the trust you place in us to keep you moving forward.
                    <br>
                    <br>
                    Located strategically in the vibrant heart of Sundsvall, Sweden, we've had the distinct privilege of serving our cherished community for 5 years. In that time, we've poured 
                    <br>
                    <br>
                    our passion for the automotive world into every service, every sale, and every customer interaction, diligently building a reputation for unparalleled excellence and 
                    unwavering dedication in everything we do. Our commitment goes beyond transactions; it's about fostering lasting relationships and ensuring every client drives away with confidence.                
                </p>
            </div>

            <div class="home-business-information">

                <h4>
                    Contact Information
                </h4>
                
                <p>
                    <i class="bi bi-pin-map"></i> Verkstadsgatan 12 854 32 Sundsvall
                </p>
                <p>
                    <i class="bi bi-envelope-at"></i> Diabus@offersuite.com
                </p>
                <p>
                    <i class="bi bi-telephone-outbound"></i> 060 55 40 077
                </p>
            </div>
        </div>
    </div>

    <div style="display:none;" class="customer-form-wrapper">

        <div class="cstm-progress-wrapper">
            <label>
                Progress

                <span>
                    100 %
                </span>
            </label>
            
            <div class="cstm-progress-bar">
                <div class="cstm-progress-progress">

                </div>
            </div>
        </div>

        <div class="form-one">

            <h3>
                Let's get started!
            </h3>

            <div class="wrapper-container-inputs">
                <label>Name</label>
                <input type="text" name="name" placeholder="John Doe" />
            </div>

            <div class="wrapper-container-inputs">
                <label>Email</label>
                <input type="email" name="email" placeholder="john.doe@example.com" />
            </div>

            <div class="wrapper-container-inputs">
                <label>Regnr.</label>
                <input id="regnr" type="regnr" name="regnr" placeholder="ABC123" />
            </div>

            <div class="wrapper-container-inputs">
                <label>Phone Number</label>
                <input type="tel" name="phone" placeholder="+46 70 123 4567" />
            </div>

            <div class="toggle-wrapper-cstm-form">
                <button class="revert-toggle" style="display:none;">
                    <i class="fa-solid fa-left-long"></i>
                    <p>
                        Back
                    </p>
                </button>

                <button class="proceed-toggle">
                    <p>
                        Proceed
                    </p>
                    <i class="fa-solid fa-right-long"></i>
                </button>
            </div>


        </div>

        <div class="form-two">

            <h3>
                General Condition
            </h3>

            <div class="select-container-cstm-form">

                <div class="wrapper-container-inputs">
                    <label>Current mileage</label>
                    <input tabindex="1" type="text" name="mileage" placeholder="e.g. 25,000 miles" />
                </div>

                <div class="wrapper-container-inputs">
                    <label>Condition Interior</label>
                    <select tabindex="2" id="condition-interior" name="condition_interior">
                        <option value="">Select condition</option>
                        <option value="Needs Attention">Needs Attention</option>
                        <option value="Well Maintained">Well-Maintained</option>
                        <option value="Excellent">Excellent Condition</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>Condition Exterior</label>
                    <select tabindex="4" id="condition-exterior" name="condition exterior">
                        <option value="">Select condition</option>
                        <option value="Needs attention">Needs Attention</option>
                        <option value="Well Maintained">Well-Maintained</option>
                        <option value="Excellent">Excellent Condition</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>Known Mechanical Issues?</label>
                    <select tabindex="6" id="condition-mechanical" name="mechanical_issues">
                        <option value="">Select option</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

            </div>
            
            <div class="outer-wrapper-textarea-mutliple">
                <div class="wrapper-container-textarea">
                    <label>Additional info Interior condition</label>
                    <textarea tabindex="3" class="condition-general" name="Interior additional" placeholder="Interior: e.g., Tears on driver's seat.."></textarea>
                </div>

                <div class="wrapper-container-textarea">
                    <label>Additional info Exterior condition</label>
                    <textarea tabindex="5" class="condition-general" name="Exterior additional" placeholder="Exterior: e.g., Scratch on rear bumper.."></textarea>
                </div>

                <div class="wrapper-container-textarea">
                    <label>Additional info Mechanical issues</label>
                    <textarea tabindex="7" class="condition-general" name="Mechanical additional" placeholder="Mechanical: e.g., Slight missfire on coldstart.."></textarea>
                </div>
            </div>

            <div class="toggle-wrapper-cstm-form">
                <button tabindex="0" class="revert-toggle">
                    <i class="fa-solid fa-left-long"></i>
                    <p>
                        Back
                    </p>
                </button>

                <button tabindex="8" class="proceed-toggle">
                    <p>
                        Proceed
                    </p>
                    <i class="fa-solid fa-right-long"></i>
                </button>
            </div>
     
        </div>

        <div class="form-three">

            <h3>
                History
            </h3>

            <div class="select-container-cstm-form">

                <div class="wrapper-container-inputs">
                    <label>Full Service History</label>
                    <select tabindex="1" name="service_history">
                        <option value="">Select option</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>Last Service</label>
                    <input tabindex="2" id="last-service" type="date" name="last_service"/>
                </div>
                
                <div class="wrapper-container-inputs">
                    <label>Accident History</label>
                    <select tabindex="3" id="accident-select" name="accident_history">
                        <option value="">Select accident history</option>
                        <option value="No Accidents">No Accidents</option>
                        <option value="Minor Accidents">Minor Accident(s)</option>
                        <option value="Major Accidents">Major Damage</option>
                    </select>
                </div>

            </div>

            <div class="wrapper-container-textarea">
                <label>Accident History additional</label>
                <textarea tabindex="4" id="accident_additional_textarea" name="accident_additional" placeholder="e.g., Minor fender bender 2023.."></textarea>
            </div>

            <div class="toggle-wrapper-cstm-form">
                    <button tabindex="0" class="revert-toggle">
                        <i class="fa-solid fa-left-long"></i>
                        <p>
                            Back
                        </p>
                    </button>

                    <button tabindex="5" class="proceed-toggle">
                        <p>
                            Proceed
                        </p>
                        <i class="fa-solid fa-right-long"></i>
                    </button>
            </div>
          
        </div>

        <div  class="form-four">

            <h3>
                Improve & speed up evaluation
            </h3>

            <div class="input-container-multiple">

                <div class="wrapper-container-inputs">
                    <label>Packages/Extras</label>
                    <input tabindex="1" type="text" name="packages" placeholder="e.g. Leather seats, Sunroof" />
                </div>

                <div class="wrapper-container-inputs">
                    <label>Number of Keys</label>
                    <input tabindex="2" type="number" name="num_keys" placeholder="e.g. 2" />
                </div>

                <div class="wrapper-container-inputs">
                    <label>Towbar</label>
                    <select tabindex="3" name="towbar">
                        <option value="">Towbar installed?</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>All-wheel-drive</label>

                    <select tabindex="4" name="4x4">
                        <option value="">All-wheel-drive?</option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
            </div>

            <div class="select-container-cstm-form">

                
                <div class="wrapper-container-inputs">
                    <label>Summer Tires</label>
                    <select tabindex="5" name="tire_condition">
                        <option value="">Select condition</option>
                        <option value="New Summer Tires">New</option>
                        <option value="Good Summer Tires">Good</option>
                        <option value="Fair Summer Tires">Fair</option>
                        <option value="Poor Summer Tires">Poor</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>Winter Tires</label>
                    <select tabindex="6" name="tire_condition">
                        <option value="">Select condition</option>
                        <option value="New Winter Tires">New</option>
                        <option value="Good Winter Tires">Good</option>
                        <option value="Fair Winter Tires">Fair</option>
                        <option value="Poor Winter Tires">Poor</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>Financed</label>
                    <select tabindex="7" name="financed">
                        <option value="">Is the vehicle financed?</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="wrapper-container-inputs">
                    <label>
                        Outstanding loan
                    </label>

                    <input tabindex="8" type="number" name="outstanding_loan"/>
                </div>

            </div>
   
            <div class="toggle-wrapper-cstm-form">
                <button tabindex="0" class="revert-toggle">
                    <i class="fa-solid fa-left-long"></i>
                    <p>
                        Back
                    </p>
                </button>

                <button tabindex="9" class="proceed-toggle">
                    <p>
                        Proceed
                    </p>
                    <i class="fa-solid fa-right-long"></i>
                </button>
            </div>

        </div>

        <div class="form-five">
            <h3>
                Make Your Vehicle Stand Out
            </h3>

            <div class="img-wrapper-cstmr">
                <label>
                    Select multiple images
                </label>
                <div class="image-upload">
                        <input type="file" id="fileInput" accept="image/*" multiple/>
                        <label for="fileInput" class="upload-btn">Upload Images</label>
                </div>
                <div class="image-upload-thumbnail">

                </div>
            </div>  

            <div class="wrapper-container-inputs wrapper-textarea">
                <label>Additional Vehicle Information</label>
                <textarea tabindex="1" name="vehicle_info" placeholder="Include any other relevant details.."></textarea>
            </div>
 
            <div class="toggle-wrapper-cstm-form">
                <button tabindex="3" class="revert-toggle">
                    <i class="fa-solid fa-left-long"></i>
                    <p>
                        Back
                    </p>
                </button>

                <button tabindex="2" class="proceed-toggle">
                    <p>
                        Summary
                    </p>
                    <i class="fa-solid fa-right-long"></i>
                </button>
            </div>
        </div>

        <div class="form-six">

            <div class="form-submission-heading-summary">
                <h3>
                    <i class="bi bi-search"></i>
                    Overview
                </h3>
            </div>
           

            <div class="form-submission-preview">
            
            </div>
            

            <div class="toggle-wrapper-cstm-form">
                <div tabindex="1" class="revert-toggle">
                    <i class="fa-solid fa-left-long"></i>
                    <p>
                        Back
                    </p>
                </div>
                <div tabindex="0" class="button-customer-submit">
                    <p>
                        Submit
                    </p>
                </div>
            </div>
           
        </div>
     
    </div>

    <div style="display: none;" class="customer-form-wrapper">
        <div class="inventory-wrapper-customer">

        <div class="inventory-navbar">
            <p class="inventory-filtration-header">
                Diabus Automotive AB Inventory
            </p>

            <select id="sort-inventory" class="inventory-filtration-select">
                <option value="dateAddedDesc">Newest</option>
                <option value="dateAddedAsc">Latest</option>
                <option value="priceAsc">Price (ascending)</option>
                <option value="priceDesc">Price (descending)</option>
                <option value="fuelType">Fuel</option>
                <option value="transmission">Gearbox</option>
            </select>
        </div>

            <div class="inventory-filter-helper">
                <div class="helper-padding-item">

                </div>
                <p class="filter-helper-make">Make & Model</p>
                <p>Mileage</p>
                <p>Price</p>
                <p>Fueltype</p>
                <p>Transmission</p>
            </div>

            <div class="inventory-list">
    
            </div>

            <div class="inventory-footer">
                Diabus Automotive AB Inventory
            </div>

        </div>
    </div>

    <div class="customer-form-right-wrapper">

        <div class="customer-navbar">
            <button class="customer-navbar-btn">
                <i class="bi bi-house"></i>
            </button>
            <button class="customer-navbar-btn">
                <i class="bi bi-clipboard-check"></i>
            </button>
            <button class="customer-navbar-btn">
                <i class="bi bi-box"></i>
            </button>
        </div>

        <div class="customer-infobox">
            <p>
                Don't feel like filling everything out? No problem! <b>Only your contact details are necessary.</b> Just skip ahead to the next step until your reach the summary!
            </p>

            <p class="btn-infobox">
                Hide 
                <i class="fa-solid fa-arrow-right"></i>
            </p>
        </div>
    </div>

</div>


<script src="~/js/Customer/CustomerGeneral.js"></script>
