<div class="dealer-idx-wrapper">

        <!-- Main Body -->
        <div class="dealer-idx-column">
          
            
            <div class="dealer-idx-btn rounded-top-btn">
                <i class="bi bi-send"></i>
                
            </div>
            
            <div class="dealer-idx-btn">
                <i class="bi bi-clock-history"></i>
            </div>
            
            <div class="dealer-idx-btn">
                <i class="bi bi-bar-chart-line"></i>
            </div>

            <div class="dealer-idx-btn">
                <i class="bi bi-car-front"></i>
            </div>

            <div class="dealer-idx-btn">
                <i class="bi bi-journal-check"></i>
            </div>

            <div class="dealer-idx-btn">
                <i class="bi bi-gear"></i>
                
            </div>
            
            <!-- Logout -->
            <div class="dealer-idx-btn dealer-btn-signout">
                <i class="bi bi-x-square"></i>
                
            </div>
           
        </div>
      
        <!-- Placeholder for data -->
        <div class="dealer-partial-data">
            <!-- Injected content here -->
        </div>
  

</div>


<script src="~/js/Dealership/DealershipGeneral.js" type="module"></script>
